.Account {
    margin: 50px auto 0;
    width: 40%;
    text-align: center;
    background: #f7f7f7f0;
}

.Account_headding {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0px auto;
    padding-top: 20px;
}

.Account_headding button {
    padding: 12px;
    font-size: 26px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.Account_headding button.active {
    border: 2px solid var(--color-btn);
    color: var(--color-btn);
}

.Account_headding button {
    color: #c1bebe;
    border: 2px solid #c1bebe;
}
.Account-login.active {
   display: none;
}
.Account-login {
    display: block;
}
.Account-login h3 {
    font-weight: 600;
}
.Account-login p {
    margin: 20px 0;
}
.Account_body {
    padding: 30px 0 ;
    width: 70%;
    margin: 0 auto;
}

.Account_body div h6{
    display: flex;
}
.Account_body input {
    width: 100%;
    border: 1px solid #c1bebe;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 5px 0 15px;
    color: #000;
    opacity: 1;
}
.Account_body input:focus {
    outline: 1px solid var(--color-primery);
}

.Account_body button {
    padding: 12px 20px;
    background: var(--color-btn);
    border-radius: 30px;
    color: #fff;
    
}

.Account input::placeholder {
    color: #aaaa;
}
.Account_link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.Account_link a {
    display: block;
    margin: 20px 0;
    text-decoration: none;
    color: #000;
    transition: 0.5s;
}

.Account_link a:hover {
    color: var(--color-primery);
}

.input_password {
    position: relative;
}
.input_password i {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%);
    cursor: pointer;
}
.input_password i:last-child {
    display: none;
}
.Account_button-footer  button:nth-child(2){
    display: none;
}
.Account_button-footer  button.active {
    display: inline-block;
}

@media (max-width: 768px) {
    .Account  {
        width: 70%;
    }
}

@media (max-width: 390px) {
    
    .Account_headding {
        width: 80%;
    }

    .Account {
        width: 90%;
    }
    .Account_headding button {
        padding: 5px;
        font-size: 20px;
    }
}